.row.group-content
  .col-sm-4.col-md-4.col-lg-4
    .section-2__card
      .section-2__card__img
        img(src='../images/product-4.png' alt='')
      .section-2__card__content
        p 1.550.000 Đ
        p MẤY KHOAN BLACK DECKER
        p
          span.icon-star-full
          span.icon-star-full
          span.icon-star-full
          span.icon-star-full
          span.icon-star-empty
          | (12 đánh giá)
      .section-2__card__button
        a(href='#') MUA NGAY
        a(href='#') XEM CHI TIẾT
  .col-sm-4.col-md-4.col-lg-4
    .section-2__card
      .section-2__card__img
        img(src='../images/product-5.png' alt='')
      .section-2__card__content
        p 1.550.000 Đ
        p MẤY KHOAN BLACK DECKER
        p
          span.icon-star-full
          span.icon-star-full
          span.icon-star-full
          span.icon-star-full
          span.icon-star-empty
          | (12 đánh giá)
      .section-2__card__button
        a(href='#') MUA NGAY
        a(href='#') XEM CHI TIẾT
  .col-sm-4.col-md-4.col-lg-4
    .section-2__card
      .section-2__card__img
        img(src='../images/product-6.png' alt='')
      .section-2__card__content
        p 1.550.000 Đ
        p MẤY KHOAN BLACK DECKER
        p
          span.icon-star-full
          span.icon-star-full
          span.icon-star-full
          span.icon-star-full
          span.icon-star-empty
          | (12 đánh giá)
      .section-2__card__button
        a(href='#') MUA NGAY
        a(href='#') XEM CHI TIẾT