include section-2-grid__card__content
include section-2-grid__card__content
include section-2-grid__card__content
include section-2-grid__card__content
include section-2-grid__card__content
include section-2-grid__card__content